.mainCont {
  display: flex;
  width: 100%;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 104, 104);
  flex-direction: row;
}
.contImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  border: 5px solid black;
  margin: 2%;
}

.DetailsStast {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400;
  width: 20%;
  margin-top: -2%;
  flex-direction: column;
  padding: 10px;
}
.contTypesEfec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .cont {
    width: 100%;
    height: auto;
  }
  .DetailsStast {
    width: 100%;
    margin: 2%;
  }
  .contImage {
    width: 100%;
  }
}
