.contButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  background-color: lightslategray;
  padding-top: 6.5%;
}

.contButtons button {
  color: white;
  background-color: black;
  width: 10%;
  height: 30px;
  font-size: 18px;
}

.contButtons button:hover {
  background-color: rgb(251, 21, 21);
  opacity: 0.9;
}

@media (max-width: 500px) {
  .contButtons {
    width: 100%;
    height: auto;
    padding-top: 20%;
    flex-wrap: wrap;
  }

  .contButtons button {
    font-size: 12px;
    width: 20%;
    margin: 1%;
  }
}
