.gridCont {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  background-color: lightslategray;
}

@media (max-width: 500px) {
  .gridCont {
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
  }
}
