.containerpag {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: lightslategray;
}
.buttonpag {
  background-color: black;
  color: aliceblue;
  width: 200px;
  font-size: 20px;
}

.containerbutton {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 10px;
}
.buttonpag:hover {
  background-color: rgb(251, 21, 21);
  opacity: 0.9;
}
@media (max-width: 500px) {
  .buttonpag {
    width: 150px;
  }
}
